<div class="page-header">
    <h1>
        Настройки
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Список дисциплин
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div>
            <p-dataTable #dt [value]="disciplineList"
                         [rows]="30" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[30,50,100]"
                         [globalFilter]="gb" resizableColumns="true" (onFilter)="handleFilter(dt)">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <h4 style="float: left">Дисциплины</h4>
                        <input style="float: right" #gb type="text" pInputText size="50" placeholder="Глобальный фильтр">
                    </div>
                </p-header>
                <p-footer>
                    <div class="ui-helper-clearfix">
                        <h5 style="float: left">Кол-во записей: {{rowCount}}</h5>
                        <button type="button" class="btn btn-sm btn-primary" style="float:right" (click)="addRow()"><i class="ace-icon fa fa-plus"></i>Добавить</button>
                    </div>
                </p-footer>
                <p-column field="Name" header="Название" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column field="ShortName" header="Сокращенное название" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column field="Faculty.Name" header="Факультет" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column styleClass="col-button" [style]="{'width':'5%'}">
                    <ng-template let-item="rowData" pTemplate="body">
                        <div class="action-buttons">
                            <!--<a class="blue" routerLink="/settings/faculties">-->
                            <!--<i class="ace-icon fa fa-search-plus bigger-130" (click)="editRow()"></i>-->
                            <!--</a>-->
                            <a class="green" routerLink="/settings/disciplines">
                                <i class="ace-icon fa fa-pencil bigger-130" (click)="editRow(item)"></i>
                            </a>
                            <a class="red" routerLink="/settings/disciplines">
                                <i class="ace-icon fa fa-trash-o bigger-130" (click)="deleteRow(item)"></i>
                            </a>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>

<div id="modalWindow" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">{{modalHeader}}</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="name">Название дисциплины</label>
                            <div>
                                <input type="text" id="name" name="name" class="col-xs-12" [(ngModel)]="discipline.Name"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="shortName">Сокращенное название</label>
                            <div>
                                <input type="text" id="shortName" name="shortName" class="col-xs-12" [(ngModel)]="discipline.ShortName"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="faculty">Факультет</label>
                            <div>
                                <p-dropdown id="faculty" [options]="facultiesList" [style]="{'width': '100%'}" [(ngModel)]="discipline.Faculty" filter="filter"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Отменить
                </button>
                <button class="btn btn-sm btn-primary" *ngIf="isAddRow" (click)="addRowSave()">
                    <i class="ace-icon fa fa-check"></i>
                    Добавить
                </button>
                <button class="btn btn-sm btn-primary" *ngIf="!isAddRow" (click)="editRowSave()">
                    <i class="ace-icon fa fa-check"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
