<div class="page-header">
    <h1>
        Настройки
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Список факультетов
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div>
            <!--<p-dataTable [value]="facultyList">-->
                <!--<p-column field="name" header="Название"></p-column>-->
                <!--<p-column field="chiefId" header="ID руководителя"></p-column>-->
            <!--</p-dataTable>-->
        </div>
    </div>
</div>