<div class="page-header">
    <h1>
        Преподаватели
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Список преподавателей
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div>
            <p-dataTable #dt [value]="teachersList"
                         [rows]="30" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[30,50,100]"
                         [globalFilter]="gb" resizableColumns="true">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <h4 style="float: left">Преподаватели</h4>
                        <input style="float: right" #gb type="text" pInputText size="50" placeholder="Глобальный фильтр">
                    </div>
                </p-header>
                <p-footer>
                    <div class="ui-helper-clearfix">
                        <h5 style="float: left">Кол-во записей: {{rowCount}}</h5>
                        <button type="button" class="btn btn-sm btn-primary" style="float:right" (click)="addRow()"><i class="ace-icon fa fa-plus"></i>Добавить</button>
                    </div>
                </p-footer>
                <p-column field="LastName" header="Фамилия" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column field="FirstName" header="Имя" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column field="MiddleName" header="Отчество" [sortable]="true" [filter]="true" filterPlaceholder="Найти..."></p-column>
                <p-column field="Sex" header="Пол" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="[{label: '', value: null},{label: 'Мужской', value: 'Мужской'}, {label: 'Женский', value: 'Женский'}]" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="Faculty.Name" header="Факультет" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="facultiesList" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="MobilePhone" header="Телефон" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals"></p-column>
                <p-column field="AcademicDegree" header="Ученая степень" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="academicDegreeList" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="AcademicTitle" header="Ученое звание" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="academicTitleList" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button" [style]="{'width':'5%'}">
                    <ng-template let-item="rowData" pTemplate="body">
                        <div class="action-buttons">
                            <a class="blue" routerLink="{{item.TeacherId}}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>