<!--<div class="container">-->
    <!--<form class="form-signin">-->
        <!--<h2 class="form-signin-heading">Авторизация</h2>-->
        <!--<label for="Login" class="sr-only">Логин</label>-->
        <!--<input DisciplineId="Login" Name="Login" class="form-control" [(ngModel)]="Login" type="text" placeholder="Логин" required autofocus>-->
        <!--<label for="Password" class="sr-only">Пароль</label>-->
        <!--<input type="Password" DisciplineId="Password" Name="Password" class="form-control" [(ngModel)]="Password" placeholder="Пароль" required>-->
        <!--<span class="help-block" style="color:red" [hidden]="!isIncorrectLoginOrPassword">Неправильный логин или пароль</span>-->
        <!--<span class="help-block" style="color:red" [hidden]="!isWrongRights">Недостаточно прав</span>-->
        <!--<span class="help-block" style="color:red" [hidden]="!isError">Ошибка входа</span>-->
        <!--<button class="btn btn-lg btn-primary btn-block" (click)="logIn()">Войти</button>-->
    <!--</form>-->
<!--</div>-->


<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-university red"></i>
                            <span class="grey" id="id-text2">еАдминистрация</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; ИУИКБ</h4>
                    </div>

                    <div class="space-6"></div>

                    <div *ngIf="isSignIn">
                        <h4 class="header blue lighter bigger">
                            Пожалуйста авторизуйтесь
                        </h4>
                        <div class="space-6"></div>
                        <form>
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" id="login" name="login" [(ngModel)]="login" class="form-control" placeholder="Логин" />
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                </label>

                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Пароль" />
                                        <i class="ace-icon fa fa-lock"></i>
                                    </span>
                                </label>
                                <span class="help-block red" *ngIf="isIncorrectLoginOrPassword">Неправильный логин или пароль</span>
                                <span class="help-block red" *ngIf="isWrongRights">Недостаточно прав</span>
                                <span class="help-block red" *ngIf="isError">Ошибка входа</span>
                                <div class="space"></div>


                                <div class="toolbar clearfix">
                                    <div>
                                        <button type="button" class="width-40 pull-left btn btn-sm btn-primary" (click)="forgetPassword()">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            <span class="bigger-110">Я забыл пароль</span>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="width-35 pull-right btn btn-sm btn-primary" (click)="logIn()">
                                            <span class="bigger-110">Войти</span>
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                    </div>

                    <div *ngIf="isForgotPassword">
                        <h4 class="header blue lighter bigger">
                            Введите email указанный при регистрации
                        </h4>
                        <div class="space-6"></div>
                        <form>
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email" />
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </span>
                                </label>
                                <span class="help-block red" *ngIf="isUnknownEmail">Такой почты не существует</span>

                                <div class="space"></div>

                                <div class="toolbar clearfix">
                                    <div>
                                        <button type="button" class="width-55 pull-left btn btn-sm btn-primary" (click)="returnToSignIn()">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            <span class="bigger-110">Вернуться к авторизации</span>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="width-35 pull-right btn btn-sm btn-primary" (click)="resetPassword()">
                                            <span class="bigger-110">Восстановить</span>
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                    </div>

                    <div *ngIf="isResetPassword">
                        <h4 class="header blue lighter bigger">
                            Новый пароль выслан вам на почту
                        </h4>
                        <div class="space-6"></div>
                        <form>
                            <fieldset>
                                <div class="toolbar clearfix">
                                    <div>
                                        <button type="button" class="width-55 pull-left btn btn-sm btn-primary" (click)="returnToSignIn()">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            <span class="bigger-110">Вернуться к авторизации</span>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="width-40 pull-right btn btn-sm btn-primary" (click)="returnToSite()">
                                            <span class="bigger-110">Вернуться на сайт</span>
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div>